@model Gurleen200356784.Models.farmer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>farmer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.crop.cropname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crop.cropname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.farmername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.farmername)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.farmerid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
